/* Paleta de cores  https://paletadecores.com/paleta/f2e8c4/98d9b6/3ec9a7/2b879e/616668/ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/*Header*/
header{
    background-color: #2b879e;
    padding: 2rem 1rem;
    position: fixed;
    top: 0%;
    width: 100%;
}

header img{
    
    height: 9rem;
    
}

.lista-header ul{
    justify-content: right;
    display: flex;
    gap: 45px;
    list-style: none;
}

.lista-header ul li{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.universal {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    
}

.universal div {
   
    width: 30rem;
    height: 20rem;
    margin: 10px;
    min-width: 299px;
}

.sessao1 {
    background-color: #eee4c0; 
   
}

.div1 {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.div2 img {
    width: 20rem;
    border-radius: 10px;
}


.div-sessao2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sessao2 {
    background-image: url(imagens/fundo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sessao2 button{
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: #05050579;
    color: white;
    font-weight: 700;
    border: none;
}





















footer{
    background-color: #616668;
      padding: 3rem;
      color: #fbffcd;
      text-align: center;
      line-height: 26px; 
  }

  footer a{
    text-decoration: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fbffcd;
    
}