/* Paleta de cores  https://paletadecores.com/paleta/f2e8c4/98d9b6/3ec9a7/2b879e/616668/ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/*Header*/
header{
    background-color: #3ec9a7;
    padding: 1rem 1rem;
 
    
    
}

header img{
    
    height: 6rem;
    
}

.lista-header ul{
    justify-content: right;
    display: flex;
    gap: 45px;
    list-style: none;
}

.lista-header ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}