/* Paleta de cores  https://paletadecores.com/paleta/f2e8c4/98d9b6/3ec9a7/2b879e/616668/ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header---------------------------------- */

header{
    background-color: #2b879e;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    
    height: 5rem;
    
}

.lista-header ul{
    justify-content: right;
    display: flex;
    gap: 45px;
    list-style: none;
}

.lista-header ul li{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer{
    display: none;
}


/*DIVS UNIVERSAL-------------------------------------------- */

.universal {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    
}

.universal div {
   
    width: 30rem;
    height: 20rem;
    margin: 10px;
    min-width: 299px;
}

/*SESSÃO 1 ------------------------------------------------- */

.sessao1 {
    background-color: #f2e8c4; 
    
}

.div1 {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.div2 img {
    width: 20rem;
    border-radius: 10px;
}

/*SESSAO 2 ------------------------------------------ */
.div-sessao2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sessao2 {
    background-image: url(imagens/fundo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sessao2 button{
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: #05050579;
    color: white;
    border: none;
}

/*SESSAO 3 --------------------------------------------- */
.sessao3{
    background-color: #98d9b6;
}


.div3 img {
    width: 20rem;
    border-radius: 10px;
}

.div4 {
   color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*----------sessao 04-------------------*/



.sessao4 {
 
  background-color: #f2e8c4; 
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
  
}

.titulo-sessao4 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #2a2a2a;
}

.produtos-container {
  display: flex;
  flex-direction:column;
  gap: 30px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.produto {
  background-color: transparent;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.produto h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.produto p {
  font-size: 14px;
  color: #555;
}








/*RODAPÉ ------------------------------------------------*/

footer{
    background-color: #616668;
      padding: 3rem;
      color: #fbffcd;
      text-align: center;
      line-height: 26px; 
  }

  footer a{
    text-decoration: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fbffcd;
    
}


/*BOTÃO WHATSAPP*/


.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}



    
    @media (max-width: 768px) {
    .hamburguer {
        display: flex;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    

    }
    
    .lista-header{
        display: none;
    }
    
    footer{
        flex-direction: column;
        gap: 40px;
    }

    .universal {
        flex-direction: column;
        padding: 4rem 2rem;
        align-items: center;
    }

    .universal div {
        width: 90%;
        height: auto;
    }

    
    .div3 img {
        width: 100%;
        max-width: 300px;
    }

    
    .div4 {
        font-size: 1.1rem;
        text-align: center;
        align-items: center;
    }

    .sessao2 button {
        width: 100%;
        max-width: 15rem;
    }
}


